
.site-footer {
    background-color: $lightblue;
    color: #fff;
    padding: .5rem 0;
    text-align: center;
    
    @include breakpoint($medium) {
       padding: .5rem calc(50% - 600px); 

    }
      
}

.site-footer__text {
    display: block;
    margin-bottom: 1rem;
    font-weight: 200;
    
    @include breakpoint($medium) {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 1.4rem;
    }
}