
@include breakpoint($medium) {
    
    .row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2em;
    }
    
    .row__medium-4--larger {
        grid-column: 1/2;
    }
    
    .row__medium-8--smaller {
        grid-column: 2/3;
    }
    
    #features .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em 4em;
    }
    
    #features .feature-item {
        grid-row: auto;
        grid-column: auto;
    }
    
    #testimonials .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3em;
    }
    
    .page-section--testimonials .row__medium-4 {
        grid-column: auto;
        grid-row: auto;
    } 

}


